.sign{
    width: 50%;
    height: 70vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;
    margin-top: 5rem;
    flex-direction: column;
    border-radius: 15px;
}
.sign p{
    color: red;
}
.login button{
    width: 8rem;
    background-color: orange;

}
