.body {
    background-image: 
                      url('../../images/food 4.png.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
  }
  
.fill{
    
    height: 70vh;
    width: 65%;
     margin-left: 16%;
     margin-bottom: 10px;
    padding-top: 7rem;
    border-radius: 10px;
    /* background-color: chocolate;  */
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}